.footer{
    padding-bottom: 60px;
    margin-top: 100px;
    @include d-flex(0, space-between, center);
    @include h-property;
    &__find{
        @include d-flex(column);
        &--items{
            input{
                background-color: #f1f1f1;
                padding: 15px 100px 15px 10px;
                border: none;
            }
            p{
                @include h-property(20px)
            }
        }
    }
    &__btn{
        padding: 10px 30px;
        border: 1px solid black;
        cursor: pointer;
        background-color: #fff;
    }
    img{
        cursor: pointer;
    }
    &__img{
        @include d-flex;
    }
}